<div class="container">
  <div class="back">
    <%= link_to 'Back', root_path, class: 'btn btn-default' %>
  </div>
  <div class="header text-center"><h1><%= @state.name %></h1></div>
  <div class="search">
    <%= simple_form_for [ @state, County.new(state: @state) ], method: :get do |f| %>
      <%= f.input :fips, collection: @counties, label_method: :list_name, value_method: :fips, label: 'County', class: 'form-control' %>
      <%= f.submit 'Search', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
  <div class="info">

    <div class="row">
      <div class="col-xs-12 col-sm-6 infohead">
        FIPS
      </div>
      <div class="col-xs-12 col-sm-6 infodesc">
        <%= @state.fips %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 infohead">
        Number of counties
      </div>
      <div class="col-xs-12 col-sm-6 infodesc">
        <%= @state.counties.length %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 infohead">
        Senate Toss Up?
      </div>
      <div class="col-xs-12 col-sm-6 infodesc">
        <%= @state.toss_up %>
      </div>
    </div>

  </div>
<div>

