<div class="container">
  <div class="back">
    <%= link_to 'Back', state_path(@state), class: 'btn btn-default' %>
  </div>
  <div class="header text-center">
    <h1><%= @state.name %></h1>
    <h2><%= @county.name %></h2>
  </div>
  <div class="info">

    <div class="row">
      <div class="col-xs-12 col-sm-6 infohead">
        FIPS
      </div>
      <div class="col-xs-12 col-sm-6 infodesc">
        <%= @county.fips %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 infohead">
        Paper Status
      </div>
      <div class="col-xs-12 col-sm-6 infodesc">
        <%= @county.paper_status_pretty %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 infohead">
        Oldest Equipment Age
      </div>
      <div class="col-xs-12 col-sm-6 infodesc">
        <%= @county.equipment_age %> years
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 infohead infosubtitle">
        <span>
          Machine Information
        </span>
      </div>
      
      <div class="infosub col-xs-10 col-xs-offset-1">

        <% @machines.each do |machine| %>

          <div class="row">
            <div class="col-xs-12 col-sm-6 infohead">
              <%= machine.model %>
            </div>
            <div class="col-xs-12 col-sm-6 infodesc">
              <em><%= machine.category %></em> by <%= machine.make %>
            </div>
          </div>

        <% end %>

      </div>

    </div>

  </div>
</div>
