<div class="container">
  <div class="back">
    <%= link_to 'Back', state_path(@state), class: 'btn btn-default' %>
  </div>
  <div class="header text-center">
    <h1><%= @county.fips.to_s.slice(-3, 3) == '000' ? @county.name.slice(2,@county.name.length - 2) : "#{@county.name}, #{@state.abbreviation}" %></h1>
    <span class="subtitle"><strong>FIPS: </strong><%= @county.fips %></span>
  </div>

  <div class="info">

  <% unless @county.fips.to_s.slice(-3, 3) == '000' %>

      <div class="row">
        <div class="col-xs-8 col-sm-6 infohead">
          Population
        </div>
        <div class="col-xs-4 col-sm-6 infodesc">
          <%= @county.population %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 infohead">
          Congressional Toss Up?
        </div>
        <div class="col-xs-12 col-sm-6 infodesc">
          <span class="<%= @county.toss_up_color %>"><%= @county.toss_up_pretty %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 infohead infosubtitle">
          <span>
            Ballot Security
          </span>
        </div>
        
        <div class="infosub col-xs-10 col-xs-offset-1">

          <div class="row">
            <div class="col-xs-12 col-sm-6 infohead">
              Paper Status
            </div>
            <div class="col-xs-12 col-sm-6 infodesc">
              <span class="<%= @county.paper_status_color %>"><%= @county.paper_status_pretty %></span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6 infohead">
              Audit Status
            </div>
            <div class="col-xs-12 col-sm-6 infodesc">
              <span class="<%= @state.audit_status_color %>"><%= @state.audit_status_pretty %></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 infohead infosubtitle">
          <span>
            Voting Machines
          </span>
        </div>
        
        <div class="infosub col-xs-10 col-xs-offset-1">

          <% if @machines.length == 0 %>
            <div class="row">
              <div class="col-sx-12 text-center infodesc">
                <em>No machine data available</em>
              </div>
            </div>

          <% else %>

            <% @machines.each do |machine| %>

              <div class="row">
                <div class="col-xs-12 col-sm-6 infohead">
                  <%= machine.model %>
                </div>
                <div class="col-xs-12 col-sm-6 infodesc">
                  <strong>Make:</strong> <%= machine.make %>
                </div>
                <div class="col-xs-12 col-sm-6 infodesc">
                  <strong>Type:</strong> <em><%= machine.category %></em>
                </div>
              </div>

            <% end %>

            <hr>
            
            <div class="row">
              <div class="col-xs-12 col-sm-6 infohead">
                Equipment Age
              </div>
              <div class="col-xs-12 col-sm-6 infodesc">
                <%= "Up to #{ @county.equipment_age } years" %>
              </div>
            </div>

          <% end %>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 infohead infosubtitle">
          <span>
            County Risk Factors
          </span>
        </div>
        
        <div class="infosub col-xs-10 col-xs-offset-1">

        <div class="row">
          <div class="col-xs-10 col-sm-6 infohead">
            Population Quartile
          </div>
          <div class="col-xs-2 col-sm-6 infodesc">
            <span class="<%= @county.population_quartile_color %>">
              <%= @county.population_quartile %>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-10 col-sm-6 infohead">
            HAVA 2018 Cyber-Security Funds?
          </div>
          <div class="col-xs-2 col-sm-6 infodesc">
            <span class="<%= @state.hava_color %>">
              <%= @state.hava %>
            </span>
          </div>
        </div>

      </div>

        </div>

  <% end %>

    <div class="row">
      <div class="col-xs-12 infohead infosubtitle">
        <span>
          <%= 'State Information' unless  @county.fips.to_s.slice(-3, 3) == '000'  %>
        </span>
      </div>
    </div>

    <%= raw( '<div class="row">') unless @county.fips.to_s.slice(-3, 3) == '000' %>
      <%= raw( '<div class="infosub col-xs-10 col-xs-offset-1">') unless @county.fips.to_s.slice(-3, 3) == '000' %>
      
        <div class="row">
          <div class="col-xs-12 col-sm-6 infohead">
            Number of counties
          </div>
          <div class="col-xs-12 col-sm-6 infodesc">
            <%= @state.counties.length %>
          </div>
        </div>

      <div class="row">
        <div class="col-xs-8 col-sm-6 infohead">
          Population
        </div>
        <div class="col-xs-4 col-sm-6 infodesc">
          <%= @state.population %>
        </div>
      </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 infohead">
            Senate Toss Up?
          </div>
          <div class="col-xs-12 col-sm-6 infodesc">
            <span class="<%= @state.toss_up_color %>"><%= @state.toss_up_pretty %></span>
          </div>
        </div>
      
        <div class="row">
          <div class="col-xs-10 col-sm-6 infohead">
            Voter Registration Security Score
          </div>
          <div class="col-xs-2 col-sm-6 infodesc">
            <span class="<%= @state.security_score_color %>">
              <%= @state.security_score %>
            </span>
          </div>
        </div>
      
        <div class="row">
          <div class="col-xs-10 col-sm-6 infohead">
            Online Voter Registration
          </div>
          <div class="col-xs-2 col-sm-6 infodesc">
            <span class="<%= @state.online_registration_color %>">
              <%= @state.online_registration_pretty %>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
